/* 内容部分 */
/* 版心 */
.container {
    width: 96vw;
    /* height: 4000px; */
    margin: 0 auto;
    padding: 0 20px;
    /* background-color: aquamarine; */
}

.container .notice-box {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-between;
    margin-top: -37px;
    /* background-color: blanchedalmond; */
}

/* 左边部分 */
.container .notice-box .notice-left {
    width: 60vw;
    height: 250px;
    border-radius: 2vw;
    overflow: hidden;
    display: flex;
    /* background-color: orange; */

}

.container .notice-box .notice-left div {
    width: 30vw;
    height: 250px;
    position: relative;
    cursor: pointer;
}

.container .notice-box .notice-left div:nth-child(1) {
    background-color: #fbf6ea;
}

.container .notice-box .notice-left div:nth-child(2) {
    background-color: #eaf5f4;
}

.container .notice-box .notice-left div p {
    position: absolute;
    width: 24px;
    /* background-color: aquamarine; */
    text-align: center;
    font-size: 20px;
    top: 20px;
    left: 40px;
}

.container .notice-box .notice-left div p:hover {
    color: #fa6725;
}

.container .notice-box .notice-left div p:hover span {
    border: 1px solid #fa6725;
}

.container .notice-box .notice-left div p span {
    margin-top: 5px;
    display: block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 999px;
    border: 1px solid black;
}

.container .notice-box .notice-left div {
    width: 35vw;
    height: 250px;
    overflow: hidden;
}

.container .notice-box .notice-left div img {
    width: 30vw;
    height: 250px;
    display: block;
    transition: .5s;
}

.container .notice-box .notice-left div img:hover {
    transform: scale(1.2);
}

/* 右边部分 */
.container .notice-box .notice-right {
    width: 30vw;
    height: 250px;
    padding: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 2vw;
    z-index: 1;
}

.container .notice-box .notice-right .notice-title {
    display: flex;
    align-items: center;
    font-size: 14px;
    justify-content: space-between;

}

.container .notice-box .notice-right .notice-title div:nth-child(1) {
    font-size: 20px;
}

.container .notice-box .notice-right .notice-title div:nth-child(2) {
    cursor: pointer;
}

.container .notice-box .notice-right .notice-title div:nth-child(2):hover {
    color: #fa6725;
}

.container .notice-box .notice-right .notice-container {
    margin-top: 20px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container .notice-box .notice-right .notice-container p {
    font-size: 13px;
    cursor: pointer;
}

.container .notice-box .notice-right .notice-container p:hover {
    color: #fa6725;
}

/* 推荐部分 */
.container .recommend-box {
    width: 100%;
    height: 555px;
    background-color: #fff;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.container .recommend-box .recommend-left-box {
    width: 70vw;
    height: 555px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: rgb(20, 59, 46); */
}

.container .recommend-box .recommend-left-box .recommend-left-title {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    /* background-color: #eaf5f4; */
    border-bottom: 1px solid #d2d2d2;
}

.container .recommend-box .recommend-left-box .recommend-left-container-box {
    width: 100%;
    height: 505px;
    /* background-color: pink; */
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

.recommend-box .recommend-left-box .recommend-left-container-box .recommend-left-container {
    width: 18vw;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    /* background-color: #fa6725; */
}

.recommend-box .recommend-left-box .recommend-left-container-box .recommend-left-container .container-img {
    overflow: hidden;
}

.recommend-box .recommend-left-box .recommend-left-container-box .recommend-left-container div img {
    width: 18vw;
    height: 300px;
    display: block;
    transition: .5s;
}

.recommend-box .recommend-left-box .recommend-left-container-box .recommend-left-container div img:hover {
    transform: scale(1.1);
}

.recommend-box .recommend-left-box .recommend-left-container-box .recommend-left-container .recommend-left-introduce {
    width: 18vw;
    height: 165px;
    padding: 12px;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;

}

.recommend-box .recommend-left-box .recommend-left-container-box .recommend-left-container .recommend-left-introduce h3 {
    font-weight: 500;
    font-size: 20px;
    /* color: #999; */
}

.recommend-box .recommend-left-box .recommend-left-container-box .recommend-left-container .recommend-left-introduce h3:hover {
    color: #fa6725;
}

.recommend-box .recommend-left-box .recommend-left-container-box .recommend-left-container .recommend-left-introduce p {
    margin-top: 12px;
    font-size: 12px;
    color: #666;
}

.recommend-box .recommend-left-box .recommend-left-container-box .recommend-left-container .recommend-left-introduce .introduce {
    height: 65px;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    color: #999;
    text-align: left;
}


/* 右边部分内容 */
.recommend-box .recommend-left-box .recommend-left-container-box .recommend-right-container {
    width: 48vw;
    height: 100%;
    /* padding-left: 40px; */
    /* background-color: rgb(167, 202, 190); */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.recommend-box .recommend-left-box .recommend-left-container-box .recommend-right-container div {
    width: 21vw;
    height: 140px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.recommend-box .recommend-left-box .recommend-left-container-box .recommend-right-container div .recommend-img-box {
    width: 8vw;
    height: 140px;
    border-radius: 5px;
    overflow: hidden;
}

.recommend-box .recommend-left-box .recommend-left-container-box .recommend-right-container div .recommend-img-box img {
    width: 100%;
    height: 100%;
    display: block;
    transition: .4s;
}

.recommend-box .recommend-left-box .recommend-left-container-box .recommend-right-container div .recommend-img-box img:hover {
    transform: scale(1.1);
}

.recommend-box .recommend-left-box .recommend-left-container-box .recommend-right-container .recommend-novel-container {
    width: 12vw;
    height: 140px;
    display: flex;
    padding: 13px 0;
    flex-direction: column;
    justify-content: space-between;
}

.recommend-box .recommend-left-box .recommend-left-container-box .recommend-right-container .recommend-novel-container p {
    color: #333;
    font-size: 18px;
    padding-bottom: 8px;
}

.recommend-box .recommend-left-box .recommend-left-container-box .recommend-right-container .recommend-novel-container p:nth-child(1) {
    font-size: 18px;
    padding-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.recommend-box .recommend-left-box .recommend-left-container-box .recommend-right-container .recommend-novel-container p:nth-child(1):hover {
    color: #fa6725;
}

.recommend-box .recommend-left-box .recommend-left-container-box .recommend-right-container .recommend-novel-container .novel-writer {
    font-size: 14px;
    color: #666;

}

.recommend-box .recommend-left-box .recommend-left-container-box .recommend-right-container .recommend-novel-container .novel-desc {
    height: 64px;
    font-size: 12px;
    padding-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    color: #999;
    text-align: left;
}



/* 右边部分 */
.container .recommend-box .recommend-right-box {
    width: 20vw;
    height: 555px;
    /* background-color: rgb(114, 158, 143); */
}

.recommend-right-title {
    width: 20vw;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    border-bottom: 1px solid #d2d2d2;
}

.recommend-container {
    width: 20vw;
    margin-top: 40px;
    display: flex;
    height: 420px;
    /* background-color: #fa6725; */
    flex-direction: column;
    justify-content: space-between;
}

.recommend-container div {
    width: 20vw;
    display: flex;
    height: 22px;
    justify-content: space-between;
    align-items: center;
}

.recommend-container div span {
    box-sizing: border-box;
    display: inline-block;
    width: 6vw;
    /* background-color: #eaf5f4; */
    height: 22px;
    line-height: 22px;
    font-size: 14px;
    color: #999;
    /* margin-right: 20px; */
    /* background-color: #fff; */
}

.recommend-container div p {
    /* background-color: #ecbaa3; */
    font-size: 14px;
    width: 13vw;
    height: 22px;
    line-height: 22px;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}


/* 新锐作家 */
.writer-box {
    width: 100%;
    height: 260px;
    margin-top: 40px;
    position: relative;
    /* background-color: #eaf5f4; */
}

.writer-box .writer-title {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #fa6725; */
    position: relative;
    border-bottom: 1px solid #d2d2d2;
}

.writer-box .writer-title div {
    font-size: 20px;
    color: #333;
}

.writer-box .writer-title div:nth-child(2) {
    color: rgba(51, 51, 51, .5);
    font-size: 14px;
}

.writer-box .writer-container {
    width: 100%;
    height: 220px;
    /* background-color: rgb(237, 237, 167); */
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.writer-box .writer-container ul {
    width: 750%;
    height: 100%;
    display: flex;
    position: absolute;
    /* background-color: #fa6725; */
}

.writer-box .writer-container ul li {
    display: block;
    width: 141px;
    height: 152px;
    margin-top: 60px;
    text-align: center;
    background-color: #eaf5f4;

    margin-right: 7vw;
    border-radius: 10px;
    /* z-index: 1; */
}

.writer-box .writer-container ul li .writer-avatar {
    width: 76px;
    height: 76px;
    /* background-color: #e6c8ba; */
    position: relative;
    overflow: hidden;
    top: -38px;
    left: 35px;
    border-radius: 999px;
}

.writer-box .writer-container ul li .writer-avatar img {
    width: 76px;
    height: 76px;
    transition: .4s;
}
.writer-box .writer-container ul li .writer-avatar img:hover{
    transform: scale(1.1);
}
.writer-box .writer-container ul li .author {
    color: #000;
    font-size: 14px;
    /* padding-bottom: 10px; */
}

.writer-box .writer-container ul li .author-works {
    color: #666;
    padding-top: 10px;
    font-size: 12px;
}

.writer-box .writer-container .mask {
    width: 14vw;
    height: 220px;
    position: absolute;
    /* background-color: #ffffff; */
    background: linear-gradient(270deg, #fff 63.75%, hsla(0, 0%, 100%, 0));
    ;
    right: -140px;
    top: 0;
    opacity: 0.8;
}

.writer-box .left-dot {

    width: 70px;
    height: 70px;
    font-size: 40px;
    text-align: center;
    line-height: 70px;
    border-radius: 999px;
    background-color: #fff;
    position: absolute;
    /* z-index: 100; */
    top: 95px;
    left: -60px;
    cursor: pointer;
    display: none;
}

.writer-box .right-dot {
    width: 70px;
    height: 70px;
    font-size: 40px;
    text-align: center;
    line-height: 70px;
    border-radius: 999px;
    background-color: #fff;
    position: absolute;
    border-right-color: transparent;
    right: -3%;
    top: 95px;
    cursor: pointer;
}