.footer{
    width: 100%;
    height: 336px;
    /* background-color: aliceblue; */
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}
.footer .footer-left{
    width: 50%;
    height: 100%;
    /* background-color: white; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.footer .footer-left .footer-logo{
    width: 30%;
    height: 60px;
    /* background-color: aliceblue; */
    background-image: url('../images/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}
.footer .footer-left .footer-logo div{
    width:120%;
    height: 1px;
    background-color: #000;
    top: 65px;
    position: absolute;
    opacity: 0.06;
}
.footer .footer-left .footer-desc{
    width: 100%;
    height: 260px;
    /* background-color: rgb(17, 88, 65); */
    padding: 60px 0 60px 0;
    font-size: 12px;
    color: #999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer .footer-left .footer-desc i{
    width: 16px;
    height: 16px;
    display: block;
    /* background-color: aliceblue; */
    background-image: url('../images/police.png');
    background-size: contain;
}
.footer .footer-left .footer-desc span{
    cursor: pointer;
}
.footer .footer-left .footer-desc span:hover{
    color: #fa6725
}
.footer .footer-left .footer-desc div:nth-child(2){
    display: flex;
    height: 16px;
    width: 100%;
    /* margin-right: 10px; */
}
.footer .footer-left .footer-desc div:nth-child(2) span:nth-child(2){
    display: flex;
    margin: 0 10px;
}
.footer .footer-left .footer-desc div:nth-child(5){
    display: flex;
    width: 100%;
}
.footer .footer-left .footer-desc div:nth-child(5) span{
    margin-left:10px ;
}
.footer .footer-left .footer-desc div:nth-child(5) p{
    display: inline-block;
}






.footer .footer-right{
    width: 40%;
    height: 100%;
    /* background-color: pink; */
    display: flex;
    justify-content: space-between;
}
.footer .footer-right div{
    padding-top: 40px;
    width: 45%;
    height: 100%;
    /* background-color: #fa6725; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: center; */
}
.footer .footer-right div .core1,
.footer .footer-right div .core2{
    padding: 45px;
    width: 100%;
    height: 65%;
    /* background-image: url('../images/code1.png');
    background-size: cover; */
    /* background-color: aliceblue; */
}
.footer .footer-right div p{
    font-size: 12px;
    text-align: center;
}
.footer .footer-right div p i{
    margin-right: 6px;
    display: inline-block;
    width: 14px;
    height: 14px;
    /* text-align: center; */
    /* background-color: aliceblue; */
    background-image: url('../images/douyin.svg');
    background-size: contain;
    background-repeat: no-repeat;
}
.footer .footer-right div p .wechar{
    background-image: url('../images/wechat.svg');
    background-size: contain;
    background-repeat: no-repeat;
}