* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    user-select: none;
    
}

.header {
    width: 100%;
    height: 70px;
}

/* 头部部分 */
/* 导航栏 */
.head-nav-box {
    width: 100%;
    height: 70px;
    background-color: #bce3fe;
    position: fixed;
    z-index: 100;
}

.head-nav-box .nav-box {
    width: 96vw;
    height: 100%;
    margin: 0 auto;
    padding: 0 20px;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
}

.head-nav-box .nav-box .logo-box {
    width: 12vw;
    height: 30px;
}

.head-nav-box .nav-box .logo-box img {
    width: 100%;
    height: 30px;
}

.head-nav-box .nav-box .head-menu {
    padding-left: 2vw;
    width: 48vw;
    font-size: 14px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.head-nav-box .nav-box .head-menu div {
    height: 70px;
    text-align: center;
    line-height: 70px;
    cursor: pointer;
}

.head-nav-box .nav-box .head-menu div:hover {
    color: #fa6725;
}

.head-nav-box .nav-box .head-menu div:nth-child(1) {
    font-size: 16px;
    font-weight: 900;
    border-bottom: 5px solid #fa6725;
}

.head-nav-box .nav-box .head-user {
    width: 38vw;
    display: flex;
    align-items: center;
}

.head-nav-box .nav-box .head-user .user-search {
    width: 26vw;
    margin-left: 12vw;
    position: relative;
}

.head-nav-box .nav-box .head-user .user-search input {
    width: 15vw;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 99px;
    padding-left: 15px;
}

.head-nav-box .nav-box .head-user .user-search img {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 12.5vw;
    top: 7px;
}

.head-nav-box .nav-box .head-user .user-login {
    width: 15vw;
    display: flex;
    justify-content: space-evenly;
    font-size: 14px;
    align-items: center;
}

.head-nav-box .nav-box .head-user .user-login div {
    cursor: pointer;
}

.head-nav-box .nav-box .head-user .user-login div:hover {
    color: #fa6725;
}

/* 轮播图盒子 */
.carousel-box {
    width: 100%;
    height: 320px;
    overflow: hidden;
    position: relative;
}

.carousel-box ul {
    width: 800%;
    height: 320px;
    display: flex;
    position: absolute;
}
.carousel-box ul li  {
    width: 100%;
    height: 100%;
}
.carousel-box ul li img {
    width: 100%;
    height: 100%;
}

.carousel-box .carousel-dot {
    width: 200px;
    height: 10px;
    /* background-color: #fa6725; */
    position: absolute;
    top: 250px;
    display: flex;
    left: 40vw;
    justify-content: space-between;
}

.carousel-box .carousel-dot span.active {
    background-color: #fa6725;
}

.carousel-box .carousel-dot span {
    display: block;
    width: 10px;
    height: 10px;
    /* border: 1px solid black; */
    background-color: gray;
    border-radius: 999px;
    cursor: pointer;
}