.side-nav {
    width: 64px;
    height: 200px;
    padding: 1px;
    background-color: #fff;
    position: fixed;
    top: 30%;
    right: 37px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
}

.side-nav .one {
    width: 100%;
    height: 30%;
    /* background-color: #fff; */
    display: flex;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.side-nav .one ul {
    width: 300%;
    height: 100%;
    position: absolute;
    display: flex;
    /* background-color: #fa6725; */

}

.side-nav .one ul li {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.side-nav .one ul li .side-one-item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.side-nav .one .side-one-item div {
    width: 40%;
    height: 40%;
    background-image: url('../images/fanqie.png');
    background-size: cover;
    /* background-color: #fa6725; */
}

.side-nav .one .side-one-item:nth-child(3) div {
    background-image: url('../images/hongbao.png');
}

.side-nav .one .side-one-item p {
    font-size: 12px;
    color: #000;
}

.side-nav .two,
.side-nav .three {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}

.side-nav .two p:nth-child(1),
.side-nav .three p:nth-child(1) {
    font-size: 26px;
}

.side-nav .two .text,
.side-nav .three .text {
    font-size: 12px;
    color: #000;
}

.side-nav .one:hover p,
.side-nav .two:hover p,
.side-nav .three:hover p {
    color: #fa6725;
}

/* 弹出框部分 */
.message-box {
    width: 260px;
    height: 420px;
    /* display: none; */
    background-color: #fff;
    padding: 20px 40px;
    position: fixed;
    top: 90px;
    right: 110px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 1px 5px #999;
    visibility: hidden;
}

.message-box::after {
    position: absolute;
    content: '';
    border: 8px solid #fff;
    right: -15px;
    top: 27%;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-top-color: transparent;
}

.message-box .message-logo {
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message-box .logo-img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    overflow: hidden;
    /* background-color: #fa6725; */
    background-image: url('../images/logo.png');
    background-size: cover;
    /* margin-bottom: 5px; */
}

.message-box .logo-text {
    width: 86px;
    height: 35px;
    /* background-color: #7e533f; */
    background-image: url('../images/logo.png');
    background-size: cover;
    background-position: -42px;
}

.message-box .message-code {
    width: 100%;
    height: 200px;
    /* background-color: #fa6725; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.message-box .message-code .download-code {
    width: 140px;
    height: 140px;
    background-color: aliceblue;
    background-image: url('../images/download.png');
    background-size: cover;
}

.message-box .message-code p {
    font-size: 18px;
}

.message-box .message-code p:nth-child(3) {
    color: #fa6725;
}

.message-box .other-message {
    font-size: 12px;
    color: #999;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.message-box .other-message span {
    cursor: pointer;
}